﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load staticfiles %} {% include 'material/includes/material_css.html' %}
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css" /> {% block css %}{% endblock %}
</head>

<body>
    <nav role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Django Photo Gallery</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#">Navbar Link</a>
                </li>
            </ul>

            <ul id="nav-mobile" class="sidenav" style="transform: translateX(-105%);">
                <li>
                    <a href="#">Navbar Link</a>
                </li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <a href="http://kevanpeters.com" target="_blank">
                        <img src="{% static 'social/social-rss.svg' %}" class="dpg-icon" alt="Django Photo Gallery RSS Feed" />
                    </a>
                    <a href="https://github.com/Kevanpeters" target="_blank">
                        <img src="{% static 'social/social-github.svg' %}" class="dpg-icon" alt="Django Photo Gallery Github" />
                    </a>
                    <a href="https://www.linkedin.com/in/kevanpeters" target="_blank">
                        <img src="{% static 'social/social-linkedin.svg' %}" class="dpg-icon" alt="Django Photo Gallery Linkedin" />
                    </a>
                    <a href="https://twitter.com/kevanpeters" target="_blank">
                        <img src="{% static 'social/social-twitter.svg' %}" class="dpg-icon" alt="Django Photo Gallery Twitter" />
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Free - Sharing is Caring
                <a class="grey-text text-lighten-4 right" href="#!">Sample created by @VelinGeorgiev and Modified for Intro to devops buy @kevanpeters</a>
            </div>
        </div>
    </footer>

    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    {% include 'material/includes/material_js.html' %}
    <script src="{% static 'app.js' %}"></script> {% block js %}{% endblock %}
</body>

</html>